@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f3f3f3;
  --shadow: #121212;
  --black: #151515;
  --theme: #470047;
  --theme-transparent: rgba(71, 0, 71, 0.352);
  --theme-transparenter: rgba(71, 0, 71, 0.95);
  --white-transparent: rgba(243, 243, 243, 0.352);
  --black-transparent: rgba(21, 21, 21, 0.352);
}

body {
  background-image: url(/bg.svg);
  @apply text-[var(--white)];
}

.navlink {
  @apply text-[var(--white)] transition-all duration-300 ease-in-out;
}
.navlink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--white);
  transition: width 0.3s;
}
.navlink:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.navlink:has(.active)::after {
  width: 100%;
  transition: width 0.3s;
}

.onhover:hover :first-child {
  @apply border-[var(--white)];
}
.onhover div .coolunderline::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 0.5rem;
  height: 3px;
  background: var(--white);
  transition: width 0.5s;
}

.onhover:hover div .coolunderline::after {
  width: 100%;
  transition: width 0.3s;
}

.coolborder {
  position: relative;
  overflow: hidden;
}
.coolborder::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translate(100%);
}
.coolborder-parent:hover .coolborder::before {
  transition: 0.3s transform linear, 0.3s height 0.3s ease-out;
  height: 100%;
  border-color: var(--white);
  transform: translateX(0);
}

.coolborder::after {
  content: "";
  right: 0;
  top: 0;
  position: absolute;
  height: 4px;
  width: 100%;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translate(-100%);
}
.coolborder-parent:hover .coolborder::after {
  transition: 0.3s transform linear, 0.3s height 0.3s ease-out;
  height: 100%;
  border-color: var(--white);
  transform: translateX(0);
}
.coolborder:hover::before {
  transition: 0.3s transform linear, 0.3s height 0.3s ease-out;
  height: 100%;
  border-color: var(--white);
  transform: translateX(0);
}
.coolborder:hover::after {
  transition: 0.3s transform linear, 0.3s height 0.3s ease-out;
  height: 100%;
  border-color: var(--white);
  transform: translateX(0);
}
.fadein {
  animation: hide 2s;
}
@keyframes hide {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.boxshadow {
  box-shadow: 0 0 5px 0 var(--white);
  transition: box-shadow 0.3s ease-in-out;
  @apply rounded-md;
}
.boxshadow:hover {
  box-shadow: 0 0 15px 0 var(--white);
}

.hoverunderline {
  position: relative;
  overflow: hidden;
}
.hoverunderline::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: var(--white);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  margin-top: 3px;
}
.hoverunderline:hover::before {
  transform: translateX(0);
}

.projectcard:hover div {
  transform: translateY(0);
}

.burger-icon {
  z-index: 1000;
  display: block;
  position: fixed;
  visibility: visible;
  top: 60px;
  left: 75%;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.burger-icon::after {
  content: "";
  position: absolute;
  visibility: visible;
  top: -15px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  left: 0;
  transform-origin: bottom left;
  transition: all 0.3s ease;
}
.burger-icon::before {
  content: "";
  position: absolute;
  visibility: visible;
  top: 15px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  left: 0;
  transform-origin: top left;
  transition: all 0.3s ease;
}
input[type="checkbox"]:checked + label + .mobile-nav {
  @apply translate-x-0;
}
input[type="checkbox"]:checked + label {
  width: 0;
}
input[type="checkbox"]:checked + label::after {
  @apply rotate-45;
}
input[type="checkbox"]:checked + label::before {
  @apply -rotate-45;
}
